<%- include("partials/header") %>

<div class="container">
	<div class="row">
		<center><h1>Add new Mobile</h1><hr></center>
		<center>
			<form class="form" action="/mobile" method="POST">
				<div class="form-group form_mobile">
					<input class="form-control" type="text" name="brand" placeholder="brand" required>
				</div>
				<div class="form-group form_mobile">
					<input class="form-control" type="text" name="name" placeholder="name" required>
				</div>
				<div class="form-group form_mobile">
					<input class="form-control" type="text" name="color" placeholder="color" required>
				</div>
				<div class="form-group form_mobile">
					<input class="form-control" type="text" name="display_size" placeholder="display size (in inches)" required>
				</div>
				<div class="form-group form_mobile">
					<input class="form-control" type="text" name="weight" placeholder="weight (in grams)" required>
				</div>
				<div class="form-group form_mobile">
					<input class="form-control" type="text" name="feature" placeholder="feature" required>
				</div>
				<div class="form-group form_mobile">
					<button class="btn btn-lg btn-primary btn-block btn-control">Submit</button>
				</div>
			</form>
		</center>
	</div>
</div>

<%- include("partials/footer") %>