<%- include("partials/header") %>

<div class="container">
	<div class="container">
		<center>
			<h1>
				Search for Mobile, features, color...
			</h1>
			<form action="/mobile" method="GET" class="form-inline">
				<div class="form-group">
					<input type="text" name="search" placeholder="Mobile, features search..." class="form-control">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form><br><br>
			<a href="/mobile">View Mobiles</a>
		</center>
	</div>
</div>

<%- include("partials/footer") %>